.Pokedex-header {
  text-align: center;
}

.Pokedex-total-exp {
  margin: 0;
  text-align: center;
}

.Pokedex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Pokedex-header--winner {
  color: green;
}

.Pokedex-header--loser {
  color: red;
}