.Pokecard {
  background: lightgrey;
  border-radius: 10px;
  text-align: center;
  width: 128px;
  padding: 10px;
}

.Pokecard-header {
  color: blue;
  font-weight: bold;
  font-size: 1.1rem;
}

.Pokecard-image {
  transition: all 0.25s ease-in-out;
}

.Pokecard-image:hover {
  transform: scale(1.2);
  filter: brightness(125%);
}

.Pokecard-type,
.Pokecard-exp {
  font-size: 0.9rem;
}
