.Pokecard {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 5px 0px rgba(117,117,117,0.75);
  margin: 2rem 4rem;
  background: white;
}

.Pokecard-header {
  color: #222f3e;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 10px 0;
}

.Pokecard-image-container {
  background: lightgrey;
  width: 150px;
  padding: 10px;
  font-size: 0;
}

.Pokecard-image {
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.Pokecard-image:hover {
  transform: scale(1.2);
  filter: brightness(125%);
}

.Pokecard-type,
.Pokecard-exp {
  font-size: 0.9rem;
}
