.NavBar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}

.NavBar__link {
  color: lightgray;
  text-decoration: none;
  cursor: pointer;
}

.NavBar__link--active {
  color: white;
}