.RollDice-dices {
  display: flex;
  justify-content: center;
}

.RollDice-button {
  width: 350px;
  height: 70px;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  color: white;
  background: black;
}

.RollDice-button:hover {
  background: mediumpurple;
}
